:root {
    --color-coral-900: #b12424;
    --color-coral-800: #be2730;
    --color-coral-700: #ca2a36;
    --color-coral-600: #db343d;
    --color-coral-500: #ef5466;
    --color-coral-400: #e45156;
    --color-coral-300: #db7176;
    --color-coral-200: #e7999c;
    --color-coral-100: #f7ccd3;
    --color-dark-grey-900: #121216;
    --color-dark-grey-800: #191919;
    --color-dark-grey-700: #191922;
    --color-dark-grey-600: #23232d;
    --color-dark-grey-500: #32323d;
    --color-dark-grey-400: #42424c;
    --color-dark-grey-300: #52525d;
    --color-dark-grey-200: #60606c;
    --color-green-900: #008a1a;
    --color-green-800: #009927;
    --color-green-700: #00a22f;
    --color-green-600: #00ab37;
    --color-green-500: #00b23d;
    --color-green-400: #26be5a;
    --color-green-300: #4dc977;
    --color-green-200: #80d99e;
    --color-green-100: #b3e8c5;
    --color-green-50: #e0f6e8;
    --color-light-grey-900: #72727d;
    --color-light-grey-800: #92929d;
    --color-light-grey-700: #a2a2ad;
    --color-light-grey-600: #bebec7;
    --color-light-grey-500: #d1d1d6;
    --color-light-grey-400: #dfdfe0;
    --color-light-grey-300: #eaeaea;
    --color-light-grey-200: #f2f2f2;
    --color-light-grey-100: #f4f4f4;
    --color-light-grey-50: #f8f8f9;
    --color-red-900: #ca1a1a;
    --color-red-800: #d22727;
    --color-red-700: #d72e2e;
    --color-red-600: #db3636;
    --color-red-500: #df3c3c;
    --color-red-400: #e45959;
    --color-red-300: #e97777;
    --color-red-200: #ef9e9e;
    --color-red-100: #f5c5c5;
    --color-red-50: #fbe8e8;
    --color-white: #fff;
    --color-black: #000;
    --color-success: #00b23d;
    --color-error: #df3c3c;
    --background-primary: var(--color-white);
    --background-intermediate: var(--color-light-grey-100);
    --background-secondary: var(--color-white);
    --background-contrast: var(--color-light-grey-300);
    --background-elevation: var(--color-light-grey-700);
    --background-accent: var(--color-coral-500);
    --background-selectable-contrast: var(--color-light-grey-900);
    --text-primary: var(--color-dark-grey-800);
    --text-intermediate: var(--color-dark-grey-300);
    --text-secondary: var(--color-light-grey-900);
    --divider-primary: var(--color-light-grey-300);
    --divider-secondary: var(--color-light-grey-500);
    --sidebar-background-color: var(--background-primary);
    --label-album-color: var(--text-secondary);
    --label-album-background-color: #efeff2;
    --label-new-color: #ff8000;
    --label-new-background-color: rgba(255,128,0,0.1);
    --label-explicit-background-color: #191922;
    --label-explicit-color: #c2c2ca;
    --shadow-border-color: var(--background-primary);
    --lyrics-gradient-color: 255,255,255;
    --popper-shadow: 0 4px 20px 0 rgba(25,25,34,0.24);
    --marquee-gradient-transparent-color: hsla(0,0%,100%,0);
    --scroller-shadow-color: rgba(25,25,34,0.12);
    --modal-shadow-color: rgba(10,10,22,0.3);
    --modal-special-offers-primary-color: rgba(0,127,235,0.9);
    --modal-special-offers-primary-hover-color: rgba(11,102,205,0.9);
    --modal-sharebox-friend-hover-color: rgba(0,127,235,0.5);
    --onboarding-header-shadow-color: rgba(0,0,0,0.2);
    --onboarding-footer-shadow-color: rgba(0,0,0,0.2);
}

._23D9-{
    align-items: center;
    background: var(--background-primary);
    border: 1px solid var(--divider-primary);
    box-shadow: 0 3px 0 0 rgb(0 0 0 / 6%);
    color: #000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 16px 0;
    position: fixed;
    top: 80px;
    width: 100%;
    z-index: 2000;
}

._23D9-:hover{
    background-color: var(--background-intermediate);
}

._36nAL{
    font-weight: 700;
    cursor: pointer;
    margin-right: 12px;
    font-size: 16px;
}

._3whqg{
    display: flex;
    justify-content: center;
}

._3RDZ8{
    margin-left: 15px;
}

._1PGDF{
    height: 24px;
}

/* unlogged-authen unlogged-login */

button{
    border: 0;
    outline: 0;
}

.unlogged-authen{
    background-color: #f0f0f0;
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: contain;
    color: #32323d;
    min-height: calc(100vh - 80px + 80px);
}

.unlogged-container{
    padding-top: 170px;
    /* width: 1050px; */
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.unlogged-container-inner{
    width: 50%;
    text-align: center;
}

.unlogged-form-container{
    max-width: 380px;
    margin: auto;
}

.unlogged-authen .unlogged-heading-2{
    margin-bottom: 5px;
}

.unlogged-heading-2{
    color: #32323d;
    font-size: 36px;
    font-weight: 700;
    position: relative;
}

.unlogged-socials-btn-container{
    margin: 32px 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.unlogged-socials-btn-container .unlogged-btn-social{
    width: 100%;
    margin-right: 15px;
}

.unlogged-socials-btn-container .unlogged-btn-social:last-child{
    margin-right: 0;
}

.unlogged-btn-social{
    align-items: center;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    padding: 9px 10px;
    position: relative;
    cursor: pointer;
}

.unlogged-btn-facebook{
    background-color: #3c5a99;
    color: white;
}

.unlogged-btn-facebook:hover{
    background-color: #283c66;
}

.unlogged-btn-label{
    font-weight: 700;
    line-height: 24px;
    padding: 0 4px;
    text-align: center;
    width: 100%;
}

.unlogged-btn-social .fab{
    font-size: 16px;
}

.unlogged-btn-google{
    background-color: var(--color-white);
    color: #23232d;
}

.unlogged-btn-google:hover{
    background-color: var(--color-light-grey-400);
}

.unlogged-btn-apple{
    background-color: var(--color-dark-grey-700);
    color: white;
}

.unlogged-btn-apple:hover{
    background-color: var(--color-black);
}

.unlogged-input-container{
    text-align: center;
    position: relative;
}

.unlogged-input-select-wrapper{
    position: relative;
}

.unlogged-input-select{
    appearance: none;
    padding: 18px 20px;
}

.unlogged-input{
    background-clip: padding-box;
    background-color: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 0 20px 20px 0 rgb(0 0 0 / 0%);
    display: block;
    font-size: 17px;
    line-height: 1.41;
    width: 100%;
    transition-duration: .15s;
    transition-property: box-shadow,-webkit-box-shadow;
    padding: 17px 20px 17px;
    outline: none;
}

.unlogged-input-select-wrapper:after {
    border: 7px solid rgba(0,0,0,0);
    border-top-color: #32323d;
    content: "";
    height: 0;
    position: absolute;
    right: 15px;
    top: 30px;
    -webkit-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    transform: translateY(-4px);
    width: 0;
}

.unlogged-input-pwd{
    margin-top: 10px;
}

.unlogged-input-pwd:focus{
    box-shadow: -6px 18px 42px -6px rgba(0,0,0,0.26);
}

.unlogged-label{
    color: #acacae;
    display: block;
    font-size: 17px;
    left: 20px;
    position: absolute;
    top: 4px;
    transform: translateY(75%);
    transition-duration: .15s;
    transition-property: font-size,transform,-webkit-transform;
    cursor: auto;
}

.unlogged-authen .unlogged-btn{
    margin-top: 30px;
}

.unlogged-btn{
    background-color: currentColor;
    border: 2px solid;
    border-radius: 35px;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    padding: 14px 30px;
    position: relative;
    text-align: center;
    transition-duration: .15s;
    transition-property: background-color,color,opacity;
    cursor: pointer;
}

.unlogged-btn-pink{
    color: #ef5466;
}

.unlogged-btn-pink:hover{
    color: #c12655;
}

.unlogged-authen .unlogged-btn-pink .unlogged-btn-label{
    color: #fff;
}

.unlogged-btn-wide{
    width: 85%;
}

.unlogged-authen .index-form-links{
    font-size: 14px;
    margin-top: 30px;
}

.link-animated{
    cursor: pointer;
    position: relative;
}

.link-animated:hover{
    animation-name: move;
    animation-duration: .5s;
}

.link-animated:after{
    display: inline-block;
    -webkit-transform: translateZ(3);
    transform: translateZ(3);
    margin-left: 2px;
    content: '>';
}

@keyframes move{
    0%   {margin-right: 2px;}
    50%  {margin-right: 7px;}
    100% {margin-right: 2px;}
}

.bold{
    font-weight: bold;
}

.unlogged-notice{
    font-size: 15px;
    line-height: 24px;
    margin-top: 30px;
}

/* pagina de registro */

.unlogged-input-group{
    margin-top: 10px;
    display: table;
    margin-bottom: 10px;
    width: 100%;
}

.unlogged-input-group .unlogged-input-container{
    display: table-cell;
    padding-right: 20px;
    width: 50%;
}

.unlogged-input-container{
    position: relative;
}

.unlogged-input-select-wrapper{
    position: relative;
}

.unlogged-input-group .unlogged-input-container+.unlogged-input-container{
    padding-left: 20px;
    padding-right: 0;
}

.unlogged-lnk-login{
    font-size: 14px;
    margin-top: 16px;
}

.unlogged-lnk{
    color: #ef5466;
    font-weight: 700;
    text-decoration: underline;
}

/* media screens */

@media screen and (min-width: 1160px){
    .unlogged-container{
        padding-top: 170px;
        width: 1050px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (min-width: 867px){
    .unlogged-login{
        background-image: url('../Assets/login.jpg');
    }

    .unlogged-register{
        background-image: url('../Assets/signup.jpg');
    }
}

@media screen and (max-width: 767px){
    ._23D9-{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 7px 0 10px;
        position: fixed;
        top: 60px;
        width: 100%;
        z-index: 2000;
    }

    .unlogged-authen{
        min-height: 862px;
    }

    .unlogged-container{
        padding-top: 120px;
        /* width: 1050px; */
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    .unlogged-container-inner{
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .unlogged-btn-wide{
        width: 100%;
    }

    .unlogged-heading-2{
        color: #32323d;
        font-size: 30px;
        font-weight: 700;
        position: relative;
    }
    
}